{% extends 'base.html' %}
{% load staticfiles %}
{% block container_main %}
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Редактирование продуктов | {{ product.name }}</h1>


            {#             <div class="col-lg-12 text-center">#}
            {#                <div class="card h-50">#}
            {#                    <a href="#">#}
            {#                        <img  class="img-thumbnail" src=" {% if product.image %} {{ product.image.url}} {% else %}  {% static 'vendor/img/products/rndavatar.png' %} {% endif %}" alt="">#}
            {#                    </a>#}
            {#                </div>#}
            {#            </div>#}
            {#            #}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-50">
                    <a href="#">
                        <img class="card-img-top"
                             src="/media/{{ product.image }}"
                             alt="">
                    </a>
                </div>
            </div>
            <div class="card-body">
                <form action="{% url 'admin_staff:admin_users_update' product.id %}" method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
{#                    <div class="form-row mb-2">#}
{#                        <div class="col-lg-12">#}
{#                            <div class="custom-file">#}
{#                                {{ form.image }}#}
{#                                <label class="custom-file-label" for="{{ form.image.id_for_label }}">Выберите#}
{#                                    изображение</label>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                    <div class="form-row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="small mb-1" for="{{ form.name.id_for_label }}">Наименование</label>
                                {{ form.name }}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="small mb-1" for="{{ form.price.id_for_label }}">Цена</label>
                                {{ form.price }}
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-6">
                            <label class="small mb-1" for="{{ form.description.id_for_label }}">Описание</label>
                            {{ form.description }}
                        </div>
                        <div class="col-lg-6">
                            <label class="small mb-1" for="{{ form.short_description.id_for_label }}">Короткое описание
                            </label>
                            {{ form.short_description }}
                        </div>
                        <div class="col-lg-6">
                            <label class="small mb-1" for="{{ form.category.id_for_label }}">Категория</label>
                            {{ form.category }}
                        </div>
                        <div class="col-lg-6">
                            <label class="small mb-1" for="{{ form.active.id_for_label }}">Активный</label>
                            {{ form.active }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-12" style="margin-top: 33px;">
                            <input class="btn btn-info btn-block" type="submit" value="Сохранить">
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-lg-12" style="margin-top: 33px;">
                        <form action="{% url 'admin_staff:admin_users_delete' user.id %}" method="post">
                            {% csrf_token %}
                            {% if user.is_active %}
                                <input class="btn btn-danger btn-block" type="submit" value="Удалить">
                            {% else %}
                                <input class="btn btn-success btn-block" type="submit" value="Восстановить">
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
